<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body class="has-classic-sidebar-right">
        <header class="head">
            {% include nav.html %}
            {% include header.html %}
        </header>
        {% include search.html %}
        <div class="margin">
            <div class="content">
                <div class="content-container">
                    <article>
                        <!--
                        {% if page.featimg %}
                            <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
                        {% endif %}
                      -->

                        <h1 class="page-title">
                            {{ page.title }}
                        </h1>
                        <div class="post-content">
                            {{ content }}
                        </div>
                    </article>
                </div>
                {% include classic-sidebar.html %}
            </div>
        </div>
        {% include footer.html %}

    </body>
</html>
